.Banner {
    background: url('https://res.cloudinary.com/dqsacxogt/image/upload/v1588766239/albert/IMG_1046_1_zi66xm.jpg');
    height: 80vh;
    width: 100vw;
    background-size: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.titleContainer {
    height: 80%;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.h1s {
    margin: 0 0 0px 80px;
    font-size: 100px;
}

.underline {
    margin-top: 0;
    margin-left: 85px;
    text-align: start;
    padding-bottom: 20px;
}

.secondaryTitle {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 85px;
}